<h1>ブログ</h1>

<% @posts.each do |post| %>
<article claiss='post>
  <div class='post_title'>
    <h2>
      <%= post.title %>
    </h2>
  </div>
  <div class='post_body'>
    <%= post.body.html_safe %>
  </div>
</article>
<% end %>
