// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: "nicofont";
  src: font-url('nicomoji-plus_1.11.ttf') format('truetype');
}

body {
  font-family: "nicofont";
}
